## ignore some stuff
auto-save-list/
el-get/
elpa/
eshell/
image-dired/
server/
transient/
var/prescient-save.el

*~
.mc-lists.el
network-security.data
projectile-bookmarks.eld
projectile.cache
recentf
.#recentf